window {
  background: transparent;
}

button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  box-shadow: none;
}

button:active {
  background-color: @theme_selected_bg_color;
}

button:hover {
  background-color: @theme_titlebar_bg_color;
}

label {
  font-weight: bold;
}

.workspace {
  border-radius: 16px;
  /* background-color: @theme_bg_color; */
  background-color: rgba(25, 25, 25, 0.7);
  margin: 10px 0px 0px 10px;
}

.workspaces button.focused {
  color: @theme_fg_color;
}

/* .clients {
  margin: 5px;
  border-radius: 16px;
  background-color: @theme_bg_color;
} */
.clients button.focused {
  color: @theme_fg_color;
}

.client-text {
  margin-left: 5px;
}
